.task-field__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.092);
  padding: 5px 5px;
  font-size: 1.3rem;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
.task-field__container:hover {
  background-color: rgba(21, 252, 0, 0.057);
}

.task-field__title {
  min-width: 170px;
  width: 170px;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 20px;
  height: 20px;
}
.task-field__description {
  min-width: 250px;
  width: 250px;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
  max-height: 20px;
}
.task-field__create {
  min-width: 130px;
  text-align: center;
}
.task-field__completed {
  min-width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
}
.task-field__buttons {
  min-width: 80px;
  text-align: end;
  font-size: 1.3rem;
}
